.cart {
  text-transform: uppercase;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  top: 100px;
  width: 350px;
  height: 100vh;
  padding: 10px;
  transform: translateX(-53%);
  background: #f8f6f6;
  transition: all 1s ease-in-out;
  border-radius: 10px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  h5 {
    background: #2dc42d;
    padding: 10px;
    border-radius: 20px;
  }
  &__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background: #fff;
    padding: 10px;
  }
}
