.ClothesComp {
  padding: 1.5%;
  margin: 1% 0px 1% 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  text-transform: capitalize;
  @media only screen and (max-width: $bp--smallest) {
    padding: 5px;
    justify-content: center;
  }

  &:hover {
    background-color: #d9d4d4;
    // transform: scale(0.9);
    cursor: pointer;
  }
  &__img {
    width: 270px;
    @media only screen and (max-width: $bp--smallest) {
      width: 170px;
    }
  }

  &__btn--price {
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 100px;
    padding-top: 20px;

    @media only screen and (max-width: $bp--smallest) {
      flex-direction: column;
      gap: 5px;
    }
  }
  &__text {
    padding: 10px;
    position: absolute;
    font-size: 1.2rem;
  }

  &__tag {
    font-size: 0.9rem;
    font-weight: lighter;
  }
  &__btn {
    margin-top: 10px;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    // align-items: center;

    &:hover {
      background-color: #16d843;
      cursor: pointer;
    }
  }
  &__price {
    font-size: 0.7rem;
    font-weight: light;
  }
}
